*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    background-color: black;
}

.moviesSlide ul{
    display: flex;

}

.moviesSlide ul li img{
    max-height: 350px;
    max-width: 200px;
}

.sliderTitle{
    display: flex;
    color: var(--textColor);
}

.sliders{
    display: flex;
    flex-direction: column;
}

.moviesSlide{
    background-color: var(--backColor);
    border-radius: 12px;
    box-shadow: 2px 4px 10px black;
}

.moviesSlide ul {
    margin: 0.2rem 0 2rem 0;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    align-items: center;
    padding: 0.7rem 0;

}

.moviesSlide ul li{
    margin: 0.5rem 2rem 0.5rem 0;
}


.moviesSlide ul li img{
    height: 330px;
    max-width: 200px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.moviesSlide ul li img:hover{
    box-shadow: 5px 7px 11px black;
    transform: scale(1.05);
}

iframe{
    margin: 2rem 0 3rem 0;
    width: 920px;
    height: 520px;
    border-radius: 10px;
}

h1{
    color: var(--textColor);
}



.slider{
    margin: 0 1rem;
}

@media (max-width: 1160px) {

    iframe{
        width:80%;
        max-height: 250px;

    }

}