*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    background-color: black;
}

.trailersRoll{

    display: inline-block;
    text-align: center;
    margin-top: 5rem;
}



.trailerArrow.next:hover{
    animation: nextArrowAnimation 0.5s linear forwards;
}

.trailerArrow.prev:hover{
    animation: prevArrowAnimation 0.5s linear forwards;
}

.trailerImage{
    width: 80rem;
    height: 40rem;
}

.trailerImage:hover{
    animation: inAnimation 0.3s linear forwards; /*forward serve a farla stare in place alla fine */
}

@keyframes nextArrowAnimation {
    0% {transform: scale(1);
        transform: translateX(0)}
    50% {transform: translateX(10%)}
    100% {transform: scale(1.2);
        transform: translateX(0)}

}

@keyframes prevArrowAnimation {
    0% {transform: scale(1);
        transform: translateX(0)}
    50% {transform: translateX(-10%)}
    100% {transform: scale(1.2);
        transform: translateX(0)}

}

@keyframes inAnimation {
    0% { transform: scale(1);}
    100% { transform: scale(1.03);
        box-shadow: 0 5px 10px 5px #f3ce13;}
}

@keyframes outAnimation {
    0% { transform: scale(1.03);
        box-shadow: 0 5px 10px 5px #f3ce13;}
    100% { transform: scale(1);}
}

