body {
    text-align: center;
    margin: 0;
    background-color: black;
}

.navbar {
    background-color: dimgrey;
    width: 100%;
    height: auto;
    position: fixed;
    text-align: center;
}

.homeButton {
    width: 5rem;
    height: auto;
}


.searchBar {
    width: 40rem;
}

.verticalLine {

    margin: 10px;
    width: 5px;
    color: aqua;
    height: 10px;
}

.signIn {
    background-color: transparent ;
    color: #f3ce13;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
}

.signIn:hover {
    color:white;
}


.trailersRoll{
    position:absolute ;
    top: 5rem;
    left: 50rem;
    display: inline;
    text-align: center;
}

table.fixed {
    width: 20%;
    height: auto;
    table-layout: fixed;
    display: block;
    margin: 0;
}

table.fixed td {
    width: 10px;
    height: auto;
}



.trailerImage{
    width: 80rem;
    height: 40rem;
}

.trailerImage:hover{
    animation: inAnimation 0.1s linear forwards; /*forward serve a farla stare in place alla fine */
}


@keyframes inAnimation {
    0% { transform: scale(1);}
    100% { transform: scale(1.03);
        box-shadow: 0 5px 10px 5px #f3ce13;}
}

@keyframes outAnimation {
    0% { transform: scale(1.03);
        box-shadow: 0 5px 10px 5px #f3ce13;}
    100% { transform: scale(1);}
}