body {
    text-align: center;
    margin: 0;
    background-color: black;
}

.log {
    background-color: #f3ce13;
    color: black;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.log:hover {
    opacity: 0.6;
}

.field{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container{
    text-align: left;
}

.logInBox{
    background: gainsboro;
    margin-left: 22%;
    margin-right: 22%;
    padding: 1% 10%;
    bottom: 32px;
    position: relative;
    height: auto;
}