/**con font-size 16:  1 rem = 100% = 16px  **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    text-align: center;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.mainDiv{
    width: 70rem;
    margin: 0 auto 40px;
    background-color: var(--mainDivBackground);
    position: relative;
    border-radius: 10px;
}


.movieContainer{
    box-sizing: border-box;
    padding: 1.25rem;
    border-radius: 0 0 8px 8px;
    position: relative;
}


.topContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 2px 4px 10px black;
    background-color: var(--backColor);
    background-image: linear-gradient(to right bottom, #ffffff, #def1ff, #99ebff, #37e5eb, #00daaa, #00daaa, #00daaa, #00daaa, #37e5eb, #99ebff, #def1ff, #ffffff);}

.leftPanel{
    height: 23.563rem;
    width: 16.938rem;
}

.leftPanel img{
    max-height: 23.563rem;
    max-width: 23.563rem;
    border-radius: 10px;
}

.rightPanel{
    display: flex;
    padding: 0 1rem;
    text-align: left;
    flex-grow: 1;
    font-size: 20px;
    color: var(--textColor);
    align-content: space-between;
    flex-direction: column;
    box-shadow: 2px 4px 10px black;
    border-radius: 10px;
    background-color: white;
    background-image: linear-gradient(to right bottom, #ffffff, #def1ff, #99ebff, #37e5eb, #00daaa, #00daaa, #00daaa, #00daaa, #37e5eb, #99ebff, #def1ff, #ffffff);

}


.rightPanel h1,
.rightPanel p{
    color: black;
}

.movieGenres{
    display: flex;
    justify-content: flex-start;
}


.movieGenres li p
{

    margin-right: 2rem;

}

.descRow{
    margin-bottom: 1rem;
}


.title{
    display: flex;
    justify-content: center;
}

.title h1{
    display: inline-block;
    justify-self: center;
}

.title p{
    display: inline-block;
    align-self: center;
    margin-left: 1%;
}
.movieStars{
    display: flex;
    justify-content: flex-start;
}
.movieStars p{
    margin-right: 2rem;
}

.moviePlot{

    font-size: 1.5rem;
    text-align: justify;
    overflow-y: auto;
    max-height: 14.625rem;
    margin: 0 0 2.5rem 0;
    display: flex;
    background-color: var(--backColor);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 2px 4px 10px black;
}

.overallRating{
    float: left;
    margin-left: 2.5rem;
    margin-top: 5px;
    background-color: var(--backColor);
    border-radius: 20px;
    padding: 2px 5px;
    box-shadow: 2px 4px 10px black;
    transition: all 0.2s ease-in-out;
    align-self: flex-end;
    justify-self: flex-start;
    margin-bottom: 1rem;
}

.overallRating:hover{
    transform: scale(1.07);
    box-shadow: 3px 5px 10px black;
}
hr {
    border-style: dotted none none;
    border-width: 5px;
    border-color: var(--backColor);
    width: 80%;
    margin: 20px auto;
    position: relative;
    top: 20px;
}


ul{
    padding: 0;
    list-style-type: none;
}

li{
    display: flex;
    justify-content: center;
}

.review{
    width:95%;
    border-radius: 8px 8px 8px 8px;
    background: var(--backColor);
    padding: 15px;
    text-align: justify;
    margin: 40px 0;
    box-shadow: 5px 10px 11px black;
    transition: all 0.2s ease-in-out; /*su .review e non sulla pseudo classe hover per avere la tranzisione anche quando ho finito di hoverare*/
}

.review:hover{
    transform: scale(1.03);
    box-shadow: 10px 15px 11px black;

}

.ratingAndAuthor{
    display: flex;
    background-color: white;
    width: min-content;
    border-radius: 15px;
    padding: 4px;
    position: relative;
    left: 14px;
    box-shadow: 5px 10px 8px grey;
}



.rating, .author{
    margin-right: 20px;
}

.rating{
    font-size: 25px;

}

.author{
    position: relative;
    left:8px;
    top:3px;
    font-weight: bold;
    white-space: nowrap;
    font-size: 18px;
}

.author p{
    padding: 0;
}

.reviewContent{
    margin-top: 10px;
    padding: 0 15px;
}

.date{
    display: inline-block;
    margin: 7px 12px ;
    font-weight: bold;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 2px;
    box-shadow: 3px 7px 8px grey;
}

.recommendedMovies ul{
    display: flex;

}

.recommendedMovies ul li img{
    max-height: 350px;
    max-width: 200px;
}




.addReview{
    display: flex;
    justify-content: flex-start;
    background-color: var(--backColor);
    padding-bottom: 2rem;
    border-radius: 10px;
}

.addReview h1,
.addReview .reviewBox{
    margin: 0 30px;
}

.addReview h1{
    color: black;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.rating-css {
    display: flex;
    background: var(--mainDivBackground);
    width: min-content;
    padding: 0.5rem;
    margin: 1rem 0 2rem 2rem;
    border-radius: 200px;
}
.rating-css div {
    display: flex;
    color: #f3ce13;
    text-align: center;
    padding: 0.5rem 0;

}
.rating-css input {

    display: none;
}
.rating-css input + label {

    text-shadow: 1px 1px 0 white;
    cursor: pointer;
    font-size: 1.5rem;
}
.rating-css input:checked + label ~ label {
    color: #838383;
}
.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

.fa-star{
    margin: 0 0.2rem;
}

.addReview{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 1rem;
}

.logInforReview{
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--backColor);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: black;
}

.logInforReview:hover{
    transform: scale(1.03);
    box-shadow: 3px 5px 10px black;
}

.reviewBox{
    height: 20rem;
    width: 50rem;
    display: flex;
    align-items: flex-start;
}

.reviewAndButton{
    display: flex;
    margin-top: 1rem;
}

.reviewAndButton button{
    height: 10rem;
    width: 10rem;
    align-self: center;
    margin-right: 2rem;
    background-color: var(--textColor);
    font-size: 50px;
    border-radius: 15px;
}

textarea{
    resize: none;
    font-size: 24px;
    border-radius: 10px;
}



iframe{
    margin: 2rem 0 3rem 0;
    width: 920px;
    height: 520px;
    border-radius: 10px;
}

.recommendedMovies{
    background-color: var(--backColor);
    border-radius: 12px;
    box-shadow: 2px 4px 10px black;
}

.recommendedMovies ul {
    margin: 0.2rem 0 2rem 0;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    align-items: center;
    padding: 0.7rem 0;

}

.recommendedMovies ul li{
    margin: 0.5rem 2rem 0.5rem 0;
}


.recommendedMovies ul li img{
    height: 330px;
    max-width: 200px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.recommendedMovies ul li img:hover{
    box-shadow: 5px 7px 11px black;
    transform: scale(1.05);
}

.correlatiTitolo{
    display: flex;
    color: var(--textColor);
}

#trama{
    color: var(--textColor);
    text-align: left;
}

.listButton{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.5rem 2rem;
    border-radius: 200px;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    background-color: var(--textColor);
    cursor: pointer;
}

.listButton:hover{
    opacity: 0.7;
}


@media (max-width: 1160px) {

    .topContainer{
        grid-template-columns: 1fr;
    }

    .leftPanel{
        justify-self: center;
        margin-bottom: 5rem;
    }

    .rightPanel{
        width: 100%;
        min-width: 0;
    }

    .mainDiv{
        width: 80%;
    }

    iframe{
        width:80%;
        max-height: 250px;

    }

    .rating-css,
    .rating-css div{
        max-width: 80%;
    }

    .movieGenres ul{
        flex-wrap: wrap;
    }

    .movieGenres li{
        min-width: 0;
    }


}

#domMovieId{
    visibility: hidden;
}

.searchBar-container ul li div a img{
    height: 50px;
}