.tableNavbar {
    margin: 0 auto;
    display: inline-block;
}

a{
    text-decoration: none;
}

.navbar {
    display: block;
    background-color: dimgrey;
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
}



.homeButton {
    width: 5rem;
    height: auto;
}

.homeButton:hover {
    transform: scale(1.15);
}


.searchBar {
    width: 40rem;
}


.signIn {
    background-color: transparent ;
    color: #f3ce13;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
}


.signIn:hover {
    color:white;
}

.profileButton {
    background-color: transparent ;
    color: #f3ce13;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
}

.profileButton:hover {
    color: white;
}



table.fixed {
    width: 20%;
    height: auto;
    table-layout: fixed;
    display: block;
    margin: 0;
}

table.fixed td {
    width: 10px;
    height: auto;
}