body {
    text-align: center;
    margin: 0;
    background-color: black;
}

.container{
    position: relative;
    bottom: 16px;
    width: 45rem;
    background: gainsboro;
    margin: 0 auto 40px;
    padding: 20px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.signInBox{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.field{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.register {
    background-color: var(--textColor);
    color: black;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.register:hover {
    opacity: 0.7;
}

@media (max-width: 830px) {
    .container{
        width: 30rem;
    }
}