html { height: 100%; }

body{
    margin: 0;
    text-align: center;
    background-image: linear-gradient(to right bottom, #ffffff, #def1ff, #99ebff, #37e5eb, #00daaa, #00daaa, #00daaa, #00daaa, #37e5eb, #99ebff, #def1ff, #ffffff);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-container{
    font-size: 18px;
    position: relative;
    background-color: var(--mainDivBackground);
    bottom: 16px;
    width: 45rem;
    padding: 10px 10px;
    margin: 0 auto 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.topProfile {
    position: relative;
    background: white;
    padding: 10px 10px;
    margin: 0 auto 40px;
    border-radius: 10px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.profilePicture {
    border-radius: 25%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.editPicture{
    position: absolute;
    margin-left: 10px;
    width: 50px;
    height: auto;
    transform: rotateX(180deg);
}

.editPicture:hover{
    width: 55px;
    height: auto;
}

.userNameText{
    display: block;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
    font-size: 32px;
    margin: 0 auto 0;
    color: var(--textColor);
}

.biography-container{
    margin-top: 4px;
    padding: 10px 10px 3px;
    background-color: var(--backColor);
}

.biography{
    text-align: center;
    position: relative;
    font-size: 18px;
    background-color: transparent;
    resize: none;
    width: 100%;
    height: 85px;
    font-family: "Times New Roman", Times, serif;
    border: none;
    outline: none;
    cursor: default;
}

.setting-container{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}

.setting-container a{
    position: relative;
    margin: 25px;
}

.userSetting{
    position: relative;
    background-color: var(--backColor);
    font-weight: bold;
    border-radius: 10px;
    padding: 3px;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.delete{
    margin-top: 10px;
}

.userSetting:hover{
    transform: scale(2);
    box-shadow: 3px 5px 10px black;
}

.title{
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
    color: var(--textColor);
    margin-bottom: 10px;
}

.watchlist-container{
    position: relative;
    margin-top: 10rem;
    background-color: white;
    padding: 10px 10px;
    border-radius: 10px;
}

.watchlist-container ul{
    list-style-type: none;
}

.watchlist-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--backColor);
    border-radius: 10px;
}

.watchlist-list li{
    width: auto;
    margin: 10px;
}

.watchlist-list li img{
    width: 150px;
    height: 220px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.watchlist-list li img:hover{
    box-shadow: 5px 7px 11px black;
    transform: scale(1.05);
}

#domMovieId{
    display: none;
    visibility: hidden;
}

#delete-account{
    background-color: #f44336;
}

@media (max-width: 830px) {

    .main-container{
        width: 28rem;
    }

    .setting-container{
        display: flex;
        flex-direction: column;
    }

    .setting-container a{
        margin: 10px;
    }

    .watchlist-list{
        grid-template-columns: 1fr 1fr;
    }

    .watchlist-list li{
        margin: 5px;
    }

    .watchlist-list li img{
        width: 120px;
        height: 180px;
    }
}