html { height: 100%; }

body{
    margin: 0;
    text-align: center;
    background-color: gainsboro;
}

.main-container{
    font-size: 18px;
    position: relative;
    background-color: var(--mainDivBackground);
    bottom: 16px;
    width: 45rem;
    padding: 10px 10px;
    margin: 0 auto 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.topProfile {
    position: relative;
    background: white;
    padding: 10px 10px;
    margin: 0 auto 40px;
    border-radius: 10px;
}

.profilePicture {
    border-radius: 25%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.userNameText{
    display: block;
    font-size: 2rem;
    margin: 0 auto 0;
    color: var(--textColor);
}

.confirm{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    border-radius: 200px;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    background-color: var(--textColor);
    cursor: pointer;
    border-style: none;
}

.confirm:hover{
    background-color: green;
}

.confirm a{
    color: black;
}

.formSetting{
    text-align: justify;
    position: relative;
    background: white;
    padding: 10px 10px;
    margin: 0 auto 10px;
    border-radius: 10px;
}

.setting-label{
    font-size: 20px;
    color: var(--textColor);
}

.main-container input{
    font-size: 18px;
    background-color: var(--backColor);
    border-width: 1px;
    padding-left: 5px;
    font-family: "Times New Roman", Times, serif;
}


/******* Setting Data *******/

.biography{
    font-size: 18px;
    background-color: var(--backColor);
    resize: none;
    max-width: 100%;
    padding: 5px 5px;
    font-family: "Times New Roman", Times, serif;
}

/******* Setting Password *******/

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.field-password{
    position: absolute;
    right: 18rem;
}

/******* Setting Profile Pic *******/

.imageSelection{
    margin-top: 20px;
}

.profileSelection{
    border-radius: 25%;
    margin-right: 15px;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.profile-label{
    position: relative;
    width: 100%;
    font-size: 20px;
    color: var(--textColor);
    font-family: "Times New Roman", Times, serif;
}

.formSetting-profile{
    position: relative;
    background: white;
    padding: 10px 10px;
    margin: 0 auto 10px;
    border-radius: 10px;
}
