
html { height: 100%; }
body{
    margin: 0;
    text-align: center;
    background-color: gainsboro ;
}

.userNameText{
    display: block;
    font-size: 2rem;
    margin: 0 auto 0;
    color: var(--textColor);
}

.profilePicture {
    border-radius: 25%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.watchlist{
    margin-top: 10rem;
    display: inline-block;
}

.title{
    text-align: left;
}

.topProfile {
    position: relative;
}

.copyright{
    color: white;
}

footer{
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.imageSelection{
    margin-top: 20px;
}

.profileSelection{
    border-radius: 25%;
    margin-right: 15px;
    object-fit: cover;
    width: 200px;
    height: 200px;
}